/* ==================================================
 * Spyro 0.1.0
 * Copyright 2014, Unicorn team
 * www.unicornfm.com
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php 
 *
 * ================================================== */
/* ==================================================
 *
 * @module :: Config
 * @description :: Config before run sass compile
 *
 * ================================================== */
/* Default colors */
/* ==================================================
 *
 * @module :: Helpers
 * @description :: Helpers section
 *
 * ================================================== */
/* Spacers */
.spyro-helper-spacer10 {
  height: 10px; }

.spyro-helper-spacer20 {
  height: 20px; }

.spyro-helper-spacer30 {
  height: 30px; }

.spyro-helper-spacer40 {
  height: 40px; }

.spyro-helper-spacer50 {
  height: 50px; }

.spyro-helper-spacer60 {
  height: 60px; }

.spyro-helper-spacer70 {
  height: 70px; }

.spyro-helper-spacer80 {
  height: 80px; }

.spyro-helper-spacer90 {
  height: 90px; }

.spyro-helper-spacer100 {
  height: 100px; }

/* ==================================================
 *
 * @module :: Buttons
 * @description :: Buttons section
 *
 * ================================================== */
/* Default button */
.spyro-button {
  padding: 6px 12px;
  color: white;
  border-radius: 3px;
  transition: all 0.2s ease-in-out 0s;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.8;
  outline: 0;
  webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  /* Other effect */
  /* Colors */
  /* Sizes */
  /* Block */
  /* Opacity */ }
  .spyro-button:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
    opacity: 1; }
  .spyro-button.spyro-button-success {
    background-color: #7ec25c; }
  .spyro-button.spyro-button-default {
    background-color: #eeeeee;
    color: #2d2d2d; }
  .spyro-button.spyro-button-warning {
    background-color: #f39c12; }
  .spyro-button.spyro-button-error {
    background-color: #e74c3c; }
  .spyro-button.spyro-button-inverse {
    background-color: #3a3f41; }
  .spyro-button.spyro-button-primary {
    background-color: #11a7db; }
  .spyro-button.spyro-button-xl {
    padding: 12px 18px;
    font-size: 20px; }
  .spyro-button.spyro-button-lg {
    padding: 10px 16px;
    font-size: 18px; }
  .spyro-button.spyro-button-sm {
    padding: 5px 10px;
    font-size: 12px; }
  .spyro-button.spyro-button-xs {
    padding: 1px 5px;
    font-size: 12px; }
  .spyro-button.spyro-button-block {
    width: 100%; }
  .spyro-button.spyro-button-opacity-inverse {
    opacity: 1; }
    .spyro-button.spyro-button-opacity-inverse:hover {
      opacity: 0.8; }
  .spyro-button.spyro-button-no-opacity {
    opacity: 1; }
    .spyro-button.spyro-button-no-opacity:hover {
      opacity: 1; }

/* ==================================================
 *
 * @module :: Wells
 * @description :: Wells section
 *
 * ================================================== */
 * .spyro-well
 *
 * 	&.spyro-well-xl
 * 	&.spyro-well-lg
 * 	&.spyro-well-sm
 * 	&.spyro-well-xs */
