/* ==================================================
 *
 * @module :: Buttons
 * @description :: Buttons section
 *
 * ================================================== */

.spyro-button
	padding: 6px 12px
	color: white
	border-radius: 3px
	transition: all 0.2s ease-in-out 0s
	text-decoration: none
	font-weight: 400
	font-size: 14px
	display: inline-block
	text-decoration: none
	opacity: 0.8
	outline: 0
	webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	border: none


	&.small
		
	&:hover
		color: white
		text-decoration: none
		cursor: pointer
		opacity: 1

	&.spyro-button-success
		background-color: $color-success

	&.spyro-button-default
		background-color: $color-default
		color: #2D2D2D

	&.spyro-button-warning
		background-color: $color-warning

	&.spyro-button-error
		background-color: $color-error

	&.spyro-button-inverse
		background-color: $color-inverse

	&.spyro-button-primary
		background-color: #3686be

	&.spyro-button-block
		width: 100%

	&.spyro-button-opacity-inverse
		opacity: 1

		&:hover
			opacity: 0.8

	&.spyro-button-no-opacity
		opacity: 1

		&:hover
			opacity: 1